*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Arial Black";
    font-size: 14px;
    color: black;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url('img/background.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-bottom: 2rem;
}

.instagram-phone img{
    height: 50rem;
}
    
.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    min-height: 34rem;

}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    width: 80%;
    padding: 1.3rem 0;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 5rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
}

.profile-photo img{
    height: 6rem;
}

.instagram-login{
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: white;
    margin-top: 1rem;
}

.not-account{
    color: white;
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: white;
    border: 2px solid black;
    padding: 1.3rem 0;
    
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.3rem;
}

.app-download{
    height: 3rem;
    width: 20rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('img/apple-button.png');
}

.app-download:nth-child(2){
    background-image: url('img/googleplay-button.png');
}

/* media queries */

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){

    body{
        background-color: white;
        background-image: none;
    }

    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }

    .group{
        border: 1px solid transparent;

    }

    .instagram-login{
        background-color: #0095f6;
        color: white;
        padding: 8px;
        border-radius: 4px;
    }

    .get-the-app{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        background-color: white;
        border: 2px solid transparent;
        padding: 1.3rem 0;
        
    }

    .app-download{
        height: 3rem;
        width: 10rem;
        background-size: cover;
    }

    .download{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

}